body {
	background-color: mistyrose;
}
.container {
	position: absolute;
	min-height: 80%;
	width: 100%;
	display: flex;
	justify-content: center;
	color: #84adf4;
}

.form-container {
	background-color: white;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 1px solid lightgray;
	box-shadow: 1px 1px 1px lightgray, -1px -1px 1px lightgray;
}

form {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	display: inline-block;
	width: 80%;
	height: 7vmin;
	margin: 1vmin 0;
	font-size: 14pt;
	border: 1px solid navy;
}

input[type="submit"] {
	background-color: #84adf4;
	color: white;
	width: 50%;
	transition: 0.3;
}

input[type="submit"]:hover {
	background-color: white;
	color: navy;
	cursor: pointer;
}

label {
	width: 10%;
}

.form-group {
	width: 100%;
	display: flex;
	justify-content: center;
}
