#navbar {
	background-color: #84adf4;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	font-size: 12pt;
	box-shadow: 0 2px 2px lightgray;
}

#navbar li {
	list-style-type: none;
	display: inline;
	margin: 1vmin;
	font-size: 18pt;
}

#navbar a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

#navbar a:hover {
	text-shadow: 2px 2px 50px #fff;
}

.logo-area {
	display: flex;
	justify-content: center;
	width: 30%;
	padding-left: 2vmin;
}

.navbar-area {	
	width: 70%;
	display: flex;
	justify-content: right;
	padding-right: 2vmin;
}
